<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      [ngClass] = "{ hidden: !(isHandset$ | async)}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Sign in</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Search</a>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">About Food Hunter</a>
      <a mat-list-item href="#">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
          fxHide.md fxHide.lg fxHide.xl>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxHide.md   fxHide.lg fxHide.xl>eat up</span>
 
      <div id="container" fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs  fxHide.sm  >
        <a href="#"class="child" id="child1">Sign In</a>
        <a href="#"class="child">Home</a>
        <a href="#" class="child">Search</a>
        <a href="#" class="child">| food hunter |</a>
        <a href="#" class="child">Settings</a>
        <a href="#" class="child">About Food Hunter</a>
        <a href="#" class="child" id="child7">Contact Us</a>
        </div>
      
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
