<mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="onToggleSidenav()"
        fxHide.md fxHide.lg fxHide.xl>
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span fxHide.md   fxHide.lg fxHide.xl>eatUP</span>

    <div id="container" fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs  fxHide.sm  >
      <a routerLink="/sign-in" class="child" id="child1">Sign In</a>
      <a href="#"class="child">Home</a>
      <a href="#" class="child">| eatUP |</a>
      <a href="#" class="child">Settings</a>
      <a href="#" class="child">About eatUP</a>
      <a href="#" class="child" id="child7">Contact Us</a>
      </div>
    
  </mat-toolbar>