<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #sidenav 
        class="sidenav" 
        [ngClass] = "{ hidden: !(isHandset$ | async)}"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
    
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
            <router-outlet></router-outlet>
      <!--<app-trending-newest></app-trending-newest> -->
    </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
       

