<h2>TRENDING</h2>

<mat-card *ngFor="let shop of shops" class="shop">
  <img mat-card-image class="shop-image" [src]="shop.image ? shop.image : 'https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX17665746.jpg'">
  <mat-card-content>
      <div class="shop-name">{{shop.fe_name}}</div>
      <div class="shop-address">{{shop.address}}</div>
      <div class="shop-open" [class.open]="isShopOpen(shop)" [ngClass]="{ 'close': !isShopOpen(shop) }">{{isShopOpen(shop) ? 'Open' : 'Closed'}}</div>
    </mat-card-content>
</mat-card>
