.shop-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop {
    width: 320px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 10px;
}

.shop-image {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    align-self: center;
}

.mat-card-image:first-child {
    margin-top: 0;
}

.shop-open {
    font-weight: bold;
}

.open {
    color: green;
}

.close {
    color: red;
}